MasterDicasWeb/src/wsdl/localhost_8080/WebService-1.0-SNAPSHOT/DicaWS/DicaServico.wsdl_DicaServicoInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://mestredasdicas-gilserver.openshift.com" name="DicaServicoInterface" targetNamespace="http://mestredasdicas-gilserver.openshift.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mestredasdicas-gilserver.openshift.com" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://mestredasdicas-gilserver.openshift.com">
  <xs:element name="AdicionarDica" type="tns:AdicionarDica"/>
  <xs:element name="AdicionarDicaResponse" type="tns:AdicionarDicaResponse"/>
  <xs:element name="AdicionarTag" type="tns:AdicionarTag"/>
  <xs:element name="AdicionarTagResponse" type="tns:AdicionarTagResponse"/>
  <xs:element name="AlterarDica" type="tns:AlterarDica"/>
  <xs:element name="AlterarDicaResponse" type="tns:AlterarDicaResponse"/>
  <xs:element name="BuscarDicas" type="tns:BuscarDicas"/>
  <xs:element name="BuscarDicasResponse" type="tns:BuscarDicasResponse"/>
  <xs:element name="BuscarTags" type="tns:BuscarTags"/>
  <xs:element name="BuscarTagsResponse" type="tns:BuscarTagsResponse"/>
  <xs:element name="RemoverDica" type="tns:RemoverDica"/>
  <xs:element name="RemoverDicaResponse" type="tns:RemoverDicaResponse"/>
  <xs:element name="RemoverTag" type="tns:RemoverTag"/>
  <xs:element name="RemoverTagResponse" type="tns:RemoverTagResponse"/>
  <xs:element name="dica" type="tns:dica"/>
  <xs:element name="listaDeDicas" type="tns:listaDeDicas"/>
  <xs:element name="listaDeTag" type="tns:listaDeTag"/>
  <xs:element name="tag" type="tns:tag"/>
  <xs:complexType name="AdicionarTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tag">
    <xs:sequence>
      <xs:element name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdicionarTagResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="tag" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlterarDica">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dica"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dica">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
      <xs:element minOccurs="0" name="dataCadastro" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="autor" type="xs:string"/>
      <xs:element minOccurs="0" name="referencias" type="xs:string"/>
      <xs:element minOccurs="0" name="descricao" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDica" type="tns:statusDica"/>
      <xs:element minOccurs="0" name="observacao" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="tags" nillable="true" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlterarDicaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="dica" type="tns:dica"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarDicas">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="tags" type="tns:tag"/>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarDicasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="dicas" type="tns:listaDeDicas"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaDeDicas">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="dicas" nillable="true" type="tns:dica"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoverDica">
    <xs:sequence>
      <xs:element minOccurs="0" name="RemoverDica" type="tns:dica"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoverDicaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="informacao" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoverTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="RemoverTag" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoverTagResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="informacao" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarTags">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarTagsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="tags" type="tns:listaDeTag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaDeTag">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="tags" nillable="true" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdicionarDica">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dica"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdicionarDicaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="dica" type="tns:dica"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="statusDica">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ativa"/>
      <xs:enumeration value="Inativa"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Fault" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="FaultException">
    <wsdl:part element="ns1:Fault" name="FaultException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlterarDica">
    <wsdl:part element="ns1:AlterarDica" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoverTagResponse">
    <wsdl:part element="ns1:RemoverTagResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdicionarDicaResponse">
    <wsdl:part element="ns1:AdicionarDicaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BuscarDicas">
    <wsdl:part element="ns1:BuscarDicas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoverDica">
    <wsdl:part element="ns1:RemoverDica" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdicionarTagResponse">
    <wsdl:part element="ns1:AdicionarTagResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoverTag">
    <wsdl:part element="ns1:RemoverTag" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BuscarTags">
    <wsdl:part element="ns1:BuscarTags" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdicionarDica">
    <wsdl:part element="ns1:AdicionarDica" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BuscarDicasResponse">
    <wsdl:part element="ns1:BuscarDicasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdicionarTag">
    <wsdl:part element="ns1:AdicionarTag" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BuscarTagsResponse">
    <wsdl:part element="ns1:BuscarTagsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoverDicaResponse">
    <wsdl:part element="ns1:RemoverDicaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlterarDicaResponse">
    <wsdl:part element="ns1:AlterarDicaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DicaServicoInterface">
    <wsdl:operation name="AdicionarTag">
      <wsdl:input message="ns1:AdicionarTag" name="AdicionarTag">
    </wsdl:input>
      <wsdl:output message="ns1:AdicionarTagResponse" name="AdicionarTagResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AlterarDica">
      <wsdl:input message="ns1:AlterarDica" name="AlterarDica">
    </wsdl:input>
      <wsdl:output message="ns1:AlterarDicaResponse" name="AlterarDicaResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BuscarDicas">
      <wsdl:input message="ns1:BuscarDicas" name="BuscarDicas">
    </wsdl:input>
      <wsdl:output message="ns1:BuscarDicasResponse" name="BuscarDicasResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoverDica">
      <wsdl:input message="ns1:RemoverDica" name="RemoverDica">
    </wsdl:input>
      <wsdl:output message="ns1:RemoverDicaResponse" name="RemoverDicaResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoverTag">
      <wsdl:input message="ns1:RemoverTag" name="RemoverTag">
    </wsdl:input>
      <wsdl:output message="ns1:RemoverTagResponse" name="RemoverTagResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BuscarTags">
      <wsdl:input message="ns1:BuscarTags" name="BuscarTags">
    </wsdl:input>
      <wsdl:output message="ns1:BuscarTagsResponse" name="BuscarTagsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AdicionarDica">
      <wsdl:input message="ns1:AdicionarDica" name="AdicionarDica">
    </wsdl:input>
      <wsdl:output message="ns1:AdicionarDicaResponse" name="AdicionarDicaResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>