MasterDicasWeb/src/wsdl/localhost_8080/WebService-1.0-SNAPSHOT/TagWS/TagServico.wsdl_TagServicoInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://mestredasdicas-gilserver.openshift.com" name="TagServicoInterface" targetNamespace="http://mestredasdicas-gilserver.openshift.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mestredasdicas-gilserver.openshift.com" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://mestredasdicas-gilserver.openshift.com">
  <xs:element name="AdicionarTag" type="tns:AdicionarTag"/>
  <xs:element name="AdicionarTagResponse" type="tns:AdicionarTagResponse"/>
  <xs:element name="BuscarTags" type="tns:BuscarTags"/>
  <xs:element name="BuscarTagsResponse" type="tns:BuscarTagsResponse"/>
  <xs:element name="RemoverTag" type="tns:RemoverTag"/>
  <xs:element name="RemoverTagResponse" type="tns:RemoverTagResponse"/>
  <xs:element name="listaDeTag" type="tns:listaDeTag"/>
  <xs:element name="tag" type="tns:tag"/>
  <xs:complexType name="AdicionarTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdicionarTag" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tag">
    <xs:sequence>
      <xs:element name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdicionarTagResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="tag" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoverTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="RemoverTag" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoverTagResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="informacao" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarTags">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarTagsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="tags" type="tns:listaDeTag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaDeTag">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="tags" nillable="true" type="tns:tag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fault" nillable="true" type="xs:string"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="AdicionarTag">
    <wsdl:part element="ns1:AdicionarTag" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FaultException">
    <wsdl:part element="ns1:Fault" name="FaultException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoverTagResponse">
    <wsdl:part element="ns1:RemoverTagResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BuscarTagsResponse">
    <wsdl:part element="ns1:BuscarTagsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdicionarTagResponse">
    <wsdl:part element="ns1:AdicionarTagResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoverTag">
    <wsdl:part element="ns1:RemoverTag" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BuscarTags">
    <wsdl:part element="ns1:BuscarTags" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TagServicoInterface">
    <wsdl:operation name="AdicionarTag">
      <wsdl:input message="ns1:AdicionarTag" name="AdicionarTag">
    </wsdl:input>
      <wsdl:output message="ns1:AdicionarTagResponse" name="AdicionarTagResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoverTag">
      <wsdl:input message="ns1:RemoverTag" name="RemoverTag">
    </wsdl:input>
      <wsdl:output message="ns1:RemoverTagResponse" name="RemoverTagResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BuscarTags">
      <wsdl:input message="ns1:BuscarTags" name="BuscarTags">
    </wsdl:input>
      <wsdl:output message="ns1:BuscarTagsResponse" name="BuscarTagsResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:FaultException" name="FaultException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>